body {
  font: 15px/1.5 'Cantarell', Arial, Sans-Serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* GLOBAL */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.buttonOne {
  height: 36px;
  background: #00c0ff;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* HEADER */
header {
  background: #0e1717;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #ffcd94 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;

}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #ffcd94;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* SHOWCASE */

#showcase {
  min-height: 400px;
  background-color: #ffcd94;
  text-align: center;
  color: #000000;
}

#showcase h1{
  margin-top: 70px;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

#showcase h2{
  letter-spacing: 8px;
}

#showcase p{
  font-size: 20px;
  /*font-weight: bold;*/
  letter-spacing: 6px;
}

/* NEWSLETTER */

#newsletter {
  padding: 30px;
  color: #ffffff;
  background: #0e1717;
}

#newsletter h1{
  float: left;
  letter-spacing: 2px;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type='email']{
  padding:4px;
  height: 24px;
  width: 300px;
}

/* BOXES */

#boxes{
  margin-top: 5px;
}

#boxes h2{
  text-align: center;
}

#boxes .box{
  float: left;
  width: 30%;
  padding: 5px;
  text-align: center;
}

#boxes .box img{
  width: 90px;
  height: 100px;
}

/* SIDEBAR */

aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/* ARTICLE */

article#main-col{
  float: left;
  width: 65%;
}

/* SERVICES */

ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer{
  padding: 7.5px;
  margin-top: 0px;
  border-top: #ffcd94 3px solid;
  color: #ffffff;
  background-color: #0e1717;
  text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li
  #newsletter h1,
  #newsletter form,
  #boxes .box
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button, .quote button{
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
  }
}
